# Virtual environment
.venv/
.env/
*.env

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# VS Code
.vscode/

# Dependencies
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db
